<div class="bg-black rounded-lg overflow-hidden shadow-lg">
  <div class="px-6 py-8">
    <h1 class="text-3xl font-bold text-white">{{  data.game_id }} Leaderboard</h1>
    <table class="table-auto w-full mt-8">
      <thead>
        <tr>
          <th class="px-4 py-2 text-white">Rank</th>
          <th class="px-4 py-2 text-white">Player</th>
          <th class="px-4 py-2 text-white">Portfolio Value</th>
          <th class="px-4 py-2 text-white">Gain Percentage</th>
          <th class="px-4 py-2 text-white">Transactions</th>
          <th class="px-4 py-2 text-white">Gain</th>
        </tr>
      </thead>
      <tbody>
        {% for player in data.players %}
          <tr>
            <td class="border px-4 py-2 text-white">{{ player.rank }}</td>
            <td class="border px-4 py-2 text-white"><a href="{{ player.player_url }}" class="text-blue-500 hover:underline">{{ player.player }}</a></td>
            <td class="border px-4 py-2 text-white">{{ player.portfolio_value }}</td>
            <td class="border px-4 py-2 text-white">{{ player.gain_percentage }}</td>
            <td class="border px-4 py-2 text-white">{{ player.transactions }}</td>
            <td class="border px-4 py-2 text-white">{{ player.gain }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>