[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
httpx = "*"
jinja2 = "*"
python-jose = "*"
pydantic = "*"
marketwatch = "*"

[requires]
python_version = "3.9"
